.Rhistory
cover_letter*
submission/*.pdf
*cache
manuscript_files
manuscript_cache
manuscript_tracked_files
manuscript_tracked_cache
supplement_files
supplement_cache
rsconnect
.scratch
.Rproj.user
code/shiny/data
Rplots.*
data/raw
renv/library
renv/staging
\#*
.\#*
*.tiff
*.png
*.log
*~
*.tex
*.spl
*.docx
*.eps
*.svg
